@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
  

.my-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./assets/imagefund.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
}

h1{
    font-size: 65px;
    color:black;
    font-family: 'Ubuntu', sans-serif;
}

nav{
    width: 50%;
    position: fixed;
    left: 55%;
    transform: translate(-50%);
}

a{
    text-decoration: none;
    color: inherit;
}

.menus{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 900px;
}

a li{
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    color:white;
    cursor: pointer;
    transition: .5s;
}

a li:hover{
    color:#b800e6;
}

.arrow{
    width: 8%;
    height: 155px;
    bottom: 20px;
    
}


.arrow path{
    stroke:black;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrow path.a1{
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrow path.a2{
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrow path.a3 {
    animation-delay:  0s;
    -webkit-animation-delay:  0s;
}

#content-container {
    height: 100vh;
    background-color: #333;
}

.profile-container{
    color: #333;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/fundo2.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.profile-content{
    width: 40%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px
}

.profile-image{
    width: 170px;
    height: 230px;
    border-radius: 50%;
    border: 4px solid #b800e6;
}

.name-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}
.profile-text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.social-media{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.logotype{
    width: 50px;
    transition: .5s;
}

.logotype:hover{
    transform: scale(1.3);
}

.divider{
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

h4{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon-item{
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.profile-sinopse{
    width: 430px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size: 20px;
    background-color: black;
    border-radius: 6px;
    padding: 8px;
}

button {
  margin-top: 10px;
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
 }
 
 button:hover {
  box-shadow: 0 0 5px #ae00ff, 0 0 10px #001eff, 0 0 20px #ae00ff;
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }
 

#title{
    color: #b800e6;
    font-size: 28px;
    display: block;
}

.project-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/fundo3.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-content{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    row-gap: 30px;
    column-gap: 25px;
}

.cards-content:hover > :not(:hover){
    transition: 1s;
    transform: scale(0.9);
    opacity: .3;
}

.cards{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50%,50%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0,0,20px,10px;
}

.banner1{
    background-image: url('././assets/homemform.png');
}

.banner2{
    background-image: url('././assets/imc.png');
}

.banner3{
    background-image: url('././assets/hora.png');
}

.banner4{
    background-image: url('././assets/contador.png');
}

.cards-sinopse{
    font-size: 17px;
    color: white;
}
    

#content-container-card{
    height: 100vh;
    background-color: #333;
}

#content-container-form{
    height: 100vh;
    background-color: #333;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.csm.tech/storage/uploads/news/62554c4bbab9c1649757259Thumb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

label{
    display: block;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 8px;
}

textarea{
    display: block;
    width: 97%;
    max-width: 97%;
    min-width: 97%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8px;
}

.button-form{
    width: 100%;
    border: none;
    background:white;
    color:#b800e6;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 19px;
}

.button-form:hover{
    color: black;
}

.contact{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

/*responsividade*/
@media (max-width: 480px) {
  .my-container{
    justify-content: space-between;
    padding: 10px 30px;
    text-align: center;
    max-width: 100%;
  }

  .hamburger-menu {
    top: 20px;
    right: 40px;
    position: fixed;
    cursor: pointer;
  }

  .hamburger-menu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger-menu .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color:#b800e6;
    border-radius: 5px;
    margin: 5px auto;
  }

  h1{
    width: 100%;
    font-size: 45px;
    text-align: center;
    margin-right: 15px;
  }

  .arrow{
    width: 18%;
  }

  .profile-container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }

  .profile-content{
    width: 100%;
    height: 70%;
  }

  .profile-image{
    width: 110px;
    height: 120px;
  }

  .profile-card{
    width: 85%;
  }

  h4{
    font-size: 13px;
  }

  .icons-container{
    width: 100%;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
  }

  .icon-item{
    width: 50%;
  }

  .profile-sinopse{
    margin-top: 70px;
    height: auto;
    font-size: 12px;
    width: 360px;
    
  }
  
  #content-container-card{
    height: 360vh;
  }

  .cards-sinopse{
    margin-top: 30px;
    font-size: 15px;
  }

  .cards-content{
    width: 92%;
    display: flex;
    flex-direction: column;
  }

  #content-container-form{
    width: 99%;
  }

  .dowload-cv{
    font-size: 16px;
  }

  .menus1{
    width: 50%;
    position: static;
    transform: none;
  }

  .menus {
    position: fixed;
    top: 70px;
    width: 100%;
    right: -100%;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    gap: -10px;
    transition: 0.3s;
    align-items: center;
  }

  a li{
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .menus.open{
    right: 0%;
    z-index: 2;
  }

}

@media (min-width: 480px) and (max-width: 1300px) {
  .my-container{
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    max-width: 100%;
  }

  header{
    justify-content: center;
  }

  .menus1{
    display: flex;
    width: 85%;
    position: fixed;
    margin: auto;
  }

  a li {
    font-size: 23px;
  }

  .arrow{
    width: 15%;
  }

  .profile-content{
    width: 100%;
  }

  .profile-card{
    width: 70%;
  }

  .profile-sinopse{
    width: 100%;
    font-size: 14px
  }

  .icons-container{
    width: 100%;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
  }

  .icon-item{
    width: 60%;
  }
}



